.description {
  font-weight: bold;
  font-size: 16px;
}

.speciesBlock {
  margin-bottom: 10px!important;
  text-align: left;
}

fieldset {
  border-color: unset!important;
  border-width: 1px!important;
}

.card {
  max-width: 500px;
  margin: 30px auto 0 auto;
}

.cardContent {
  max-width: 400px;
  margin: 0 auto;
}

.speciesEpisods {
  line-height: 21px!important;
  font-size: 18px!important;
  margin-top: 10px!important;
}

.mainImage {
  max-height: 350px;
}

.liItem {
  cursor: default!important;
}